# Abrir archivo Excel con tabulados de cultivos anuales (INE) y convertir datos

In [1]:
import pandas as pd

In [2]:
filename_excel = 'data/01_CultivosAnualesHistorico-03.04.2017.xls'
sheetname_superficie = 'Serie superficie sembrada'

In [3]:
df = pd.read_excel(filename_excel, sheetname=sheetname_superficie, skiprows=3, skip_footer=17)

In [4]:
df

,Cultivo,1979/80,1980/81,1981/82,1982/83,1983/84,1984/85,1985/86,1986/87,1987/88,...,2007/08,2008/09,2009/10,2010/11,2011/2012,1 2012/2013,2013/2014,2014/2015,2015/2016,2016/2017
0,Trigo,545740.0,432160.0,373800.0,359180.0,471320.0,506190.0,569170.0,676560.0,576630.0,...,270546.0,280644.0,264304.0,271415.0,245277.0,253627.0,254857.0,263164.302663,285297.0,225042.0
1,Trigo harinero,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,258100.0,265246.0,246951.0,257060.0,228587.0,238410.0,236122.0,241160.000000,257786.0,205189.0
2,Trigo candeal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12446.0,15398.0,17353.0,14355.0,16690.0,15217.0,18735.0,22004.000000,27511.0,19853.0
3,Avena,92380.0,80110.0,68330.0,84850.0,96250.0,84920.0,63860.0,55510.0,60710.0,...,97936.0,101101.0,75873.0,105643.0,100936.0,126833.0,136339.0,90449.066328,107805.0,136818.0
4,Maíz,116190.0,125530.0,107130.0,117950.0,138370.0,130520.0,104740.0,86680.0,90310.0,...,134706.0,128277.0,122547.0,119819.0,139268.0,142826.0,117418.0,125200.305860,101740.0,94668.0
5,Maíz consumo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,110233.0,106347.0,92378.0,117600.138775,92536.0,86421.0
6,Maíz semilla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,29035.0,36479.0,25040.0,7600.167085,9204.0,8247.0
7,Arroz,40840.0,31400.0,36960.0,30430.0,39880.0,38520.0,32020.0,37270.0,38900.0,...,20960.0,23680.0,24527.0,25121.0,23991.0,21000.0,22398.0,23714.000000,26540.0,20937.0
8,Cebada,48620.0,45960.0,57480.0,38160.0,33150.0,35040.0,22720.0,16370.0,24070.0,...,20623.0,18513.0,16854.0,20184.0,14806.0,13202.0,15677.0,8809.329230,18330.0,13574.0
9,Cebada cervecera,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13378.0,13852.0,13446.0,17439.0,11411.0,9591.0,12289.0,5800.036288,10268.0,9414.0
10,Cebada forrajera,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7245.0,4661.0,3408.0,2745.0,3395.0,3611.0,3388.0,3009.292942,8062.0,4160.0
11,Centeno 3,8250.0,8770.0,5490.0,4890.0,3390.0,5030.0,4670.0,2380.0,2100.0,...,1117.0,2135.0,1458.0,149.0,404.0,818.0,818.0,1145.718580,855.0,NaN
12,Triticale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19243.0,17907.0,20964.0,23988.0,19363.0,20878.0,20134.0,22502.411524,24070.0,20122.0
13,Quinoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4420.0,1998.0,2406.0,1779.0,NaN,NaN,NaN,NaN,NaN
14,Poroto,110700.0,117740.0,121520.0,86410.0,84540.0,83040.0,89830.0,85660.0,75670.0,...,11965.0,16718.0,13512.0,12532.0,6428.0,11050.0,14670.0,13685.232369,11174.0,11545.0
15,Poroto consumo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4213.0,9837.0,NaN,NaN,NaN,1540.0
16,Poroto exportación,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2215.0,1213.0,NaN,NaN,NaN,275.0
17,Lenteja,52950.0,47660.0,38860.0,23050.0,23730.0,36360.0,37270.0,46330.0,32750.0,...,940.0,955.0,1222.0,1321.0,1013.0,1168.0,1061.0,941.997499,924.0,1540.0
18,Garbanzo,20570.0,16230.0,10110.0,7810.0,11920.0,11320.0,12610.0,14790.0,14160.0,...,3090.0,1888.0,1885.0,1981.0,1334.0,2286.0,679.0,254.292891,409.0,275.0
19,Arveja,18200.0,17530.0,12120.0,9710.0,9600.0,6460.0,8090.0,6070.0,6180.0,...,1262.0,2752.0,2481.0,1109.0,1815.0,1725.0,674.0,563.999224,1281.0,NaN
20,Chicharo,NaN,NaN,NaN,NaN,NaN,3640.0,4560.0,3750.0,5300.0,...,260.0,299.0,190.0,274.0,136.0,183.0,199.0,70.200113,337.0,NaN
21,Papa,88760.0,89920.0,77410.0,67160.0,81370.0,62870.0,52650.0,57700.0,61950.0,...,55976.0,45097.0,50771.0,53653.0,41534.0,49576.0,48965.0,50526.337967,53485.0,54082.0
22,Mandioca,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,377.0,36.0,36.0,NaN,NaN,NaN,NaN,NaN,NaN
23,Maravilla,32410.0,5120.0,3420.0,2900.0,4920.0,19970.0,30070.0,18830.0,23250.0,...,3610.0,4356.0,3053.0,2652.0,3939.0,5219.0,3846.0,3168.847718,2128.0,6817.0
24,Raps,50360.0,23880.0,10320.0,2730.0,4230.0,19160.0,56980.0,46940.0,60290.0,...,17250.0,25135.0,10983.0,18568.0,32750.0,40883.0,37486.0,49447.774056,53352.0,46249.0
25,Remolacha,11060.0,36750.0,21950.0,35839.0,47875.0,42335.0,51509.0,56618.0,49371.0,...,14850.0,12870.0,16264.0,20236.0,19495.0,18039.0,18335.0,21803.297374,17112.0,16383.0
26,Lupino,NaN,NaN,NaN,NaN,NaN,8080.0,7450.0,7140.0,6740.0,...,15250.0,10283.0,29887.0,23257.0,21467.0,19605.0,11687.0,11080.406026,13255.0,19740.0
27,Lupino Amargo (grano seco),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10273.0,9375.0,4642.0,5140.800889,5058.0,10261.0
28,Otros Lupinos (Australiano y dulce),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,11194.0,10230.0,7045.0,5939.605137,8197.0,9479.0
29,Lupino Dulce,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7875.0,8615.0,6508.0,NaN,NaN,NaN
30,Lupino Australiano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3319.0,1615.0,537.0,NaN,NaN,NaN
31,Tabaco,2168.0,2249.0,1954.0,1857.0,2503.0,2473.0,2388.0,2611.0,3024.0,...,2010.0,1652.0,2509.0,2312.0,2324.0,2319.0,2065.0,2238.100442,2402.0,1444.0
32,Tomate industrial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6902.0,4350.0,6244.0,6325.0,7149.0,7630.0,8404.0,8420.445304,9332.0,9343.0
33,Achicoria industrial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3186.0,2861.0,2489.0,2440.0,2380.0,3079.731523,2214.0,2507.0
34,Otros industriales,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,11034.0,3342.0,3340.0,1530.0,422.0,388.0,2818.341203,512.0,1224.0
35,Otros cereales,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1494.0,1493.0,1493.000000,1613.0,1493.0
36,Otras leguminosas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,749.0
37,Total,1239198.0,1081009.0,946854.0,872926.0,1053048.0,1095928.0,1150587.0,1221209.0,1131405.0,...,698496.0,714443.0,674090.0,719182.0,700421.0,753453.0,727018.0,704576.835231,734167.0,684552.0

In [5]:
# Realiza la desdinamización
df_desdinam = df.melt(id_vars='Cultivo', var_name='Temporada', value_name='Superficie (ha)')

In [6]:
df_desdinam

                                  Cultivo  Temporada  Superficie (ha)
0                                   Trigo    1979/80         545740.0
1                          Trigo harinero    1979/80              NaN
2                           Trigo candeal    1979/80              NaN
3                                   Avena    1979/80          92380.0
4                                    Maíz    1979/80         116190.0
5                            Maíz consumo    1979/80              NaN
6                            Maíz semilla    1979/80              NaN
7                                   Arroz    1979/80          40840.0
8                                  Cebada    1979/80          48620.0
9                        Cebada cervecera    1979/80              NaN
10                       Cebada forrajera    1979/80              NaN
11                              Centeno 3    1979/80           8250.0
12                              Triticale    1979/80              NaN
13                                 Quinoa    1979/80              NaN
14                                 Poroto    1979/80         110700.0
15                         Poroto consumo    1979/80              NaN
16                     Poroto exportación    1979/80              NaN
17                                Lenteja    1979/80          52950.0
18                               Garbanzo    1979/80          20570.0
19                                 Arveja    1979/80          18200.0
20                               Chicharo    1979/80              NaN
21                                   Papa    1979/80          88760.0
22                               Mandioca    1979/80              NaN
23                              Maravilla    1979/80          32410.0
24                                   Raps    1979/80          50360.0
25                              Remolacha    1979/80          11060.0
26                                 Lupino    1979/80              NaN
27             Lupino Amargo (grano seco)    1979/80              NaN
28    Otros Lupinos (Australiano y dulce)    1979/80              NaN
29                           Lupino Dulce    1979/80              NaN
...                                   ...        ...              ...
1414                               Cebada  2016/2017          13574.0
1415                     Cebada cervecera  2016/2017           9414.0
1416                     Cebada forrajera  2016/2017           4160.0
1417                            Centeno 3  2016/2017              NaN
1418                            Triticale  2016/2017          20122.0
1419                               Quinoa  2016/2017              NaN
1420                               Poroto  2016/2017          11545.0
1421                       Poroto consumo  2016/2017           1540.0
1422                   Poroto exportación  2016/2017            275.0
1423                              Lenteja  2016/2017           1540.0
1424                             Garbanzo  2016/2017            275.0
1425                               Arveja  2016/2017              NaN
1426                             Chicharo  2016/2017              NaN
1427                                 Papa  2016/2017          54082.0
1428                             Mandioca  2016/2017              NaN
1429                            Maravilla  2016/2017           6817.0
1430                                 Raps  2016/2017          46249.0
1431                            Remolacha  2016/2017          16383.0
1432                               Lupino  2016/2017          19740.0
1433           Lupino Amargo (grano seco)  2016/2017          10261.0
1434  Otros Lupinos (Australiano y dulce)  2016/2017           9479.0
1435                         Lupino Dulce  2016/2017              NaN
1436                   Lupino Australiano  2016/2017              NaN
1437                               Tabaco  2016/2017           1444.0
1438                    Tomate industrial  2016/2017           9343.0
1439                 Achicoria industrial  2016/2017           2507.0
1440                  Otros industriales   2016/2017           1224.0
1441                       Otros cereales  2016/2017           1493.0
1442                    Otras leguminosas  2016/2017            749.0
1443                                Total  2016/2017         684552.0

[1444 rows x 3 columns]

## La Temporada se encuentra como:
* aaaa/aa
* n aaaa/aa
* aaaa/aa n
* aaaa/aaaa

In [7]:
# Para la columna Temporada, reemplaza los espacios por ;
# Facilita verlo en el regex de más adelante
df_desdinam['Temporada'] = df_desdinam['Temporada'].str.replace(' ', ';')

In [8]:
# Bloque de interes 1
df_desdinam[1023:1029]

                Cultivo  Temporada  Superficie (ha)
1023     Otros cereales    2005/06              NaN
1024  Otras leguminosas    2005/06              NaN
1025              Total    2005/06    773417.000000
1026              Trigo  2006/07;5    232439.880006
1027     Trigo harinero  2006/07;5    221564.430006
1028      Trigo candeal  2006/07;5     10875.450000

In [9]:
re_pat = r'(?:\d;)?(.+)(/)(\d{4}|\d{2})?(?:;\d)?' #TODO: Podría ser mejor
df_ntemp = df_desdinam['Temporada'].str.extract(re_pat, expand=True)

In [10]:
# Bloque de interes 1 procesado
df_ntemp[1023:1029]

         0  1   2
1023  2005  /  06
1024  2005  /  06
1025  2005  /  06
1026  2006  /  07
1027  2006  /  07
1028  2006  /  07

In [11]:
# Bloque de interes 2
df_ntemp[643:649]

        0  1   2
643  1995  /  96
644  1995  /  96
645  1995  /  96
646  1996  /  97
647  1996  /  97
648  1996  /  97

In [12]:
# Muestra los registros unicos del grupo de captura 2
df_ntemp[2].unique()

array(['80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90',
       '91', '92', '93', '94', '95', '96', '97', '98', '99', '00', '01',
       '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '2012',
       '2013', '2014', '2015', '2016', '2017'], dtype=object)

In [13]:
# Para los valores 2012 a 2017, con más de dos caracteres, acortamos el numero de la temporada:
df_ntemp[2] = df_ntemp[2].apply(lambda temporada: temporada[-2:] if len(temporada) > 2 else temporada)

In [14]:
# Revisamos (al ojo) si quedó OK
#df_ntemp[2].unique()
for elem in df_ntemp[2].unique():
    if not len(elem) == 2:
        print(elem, 'es más largo que 2 caracteres')

In [15]:
# Cambia el nombre a las columnas
df_ntemp.columns = ['Año', 'Separador', 'Año_fin']

# Concatena las columnas con un separador '/'
# No es la forma más eficiente, pero es más legible
df_ntemp['Nueva_Temporada'] = df_ntemp[['Año', 'Año_fin']].apply(lambda x: '/'.join(x), axis=1)

In [16]:
df_ntemp

       Año Separador Año_fin Nueva_Temporada
0     1979         /      80         1979/80
1     1979         /      80         1979/80
2     1979         /      80         1979/80
3     1979         /      80         1979/80
4     1979         /      80         1979/80
5     1979         /      80         1979/80
6     1979         /      80         1979/80
7     1979         /      80         1979/80
8     1979         /      80         1979/80
9     1979         /      80         1979/80
10    1979         /      80         1979/80
11    1979         /      80         1979/80
12    1979         /      80         1979/80
13    1979         /      80         1979/80
14    1979         /      80         1979/80
15    1979         /      80         1979/80
16    1979         /      80         1979/80
17    1979         /      80         1979/80
18    1979         /      80         1979/80
19    1979         /      80         1979/80
20    1979         /      80         1979/80
21    1979         /      80         1979/80
22    1979         /      80         1979/80
23    1979         /      80         1979/80
24    1979         /      80         1979/80
25    1979         /      80         1979/80
26    1979         /      80         1979/80
27    1979         /      80         1979/80
28    1979         /      80         1979/80
29    1979         /      80         1979/80
...    ...       ...     ...             ...
1414  2016         /      17         2016/17
1415  2016         /      17         2016/17
1416  2016         /      17         2016/17
1417  2016         /      17         2016/17
1418  2016         /      17         2016/17
1419  2016         /      17         2016/17
1420  2016         /      17         2016/17
1421  2016         /      17         2016/17
1422  2016         /      17         2016/17
1423  2016         /      17         2016/17
1424  2016         /      17         2016/17
1425  2016         /      17         2016/17
1426  2016         /      17         2016/17
1427  2016         /      17         2016/17
1428  2016         /      17         2016/17
1429  2016         /      17         2016/17
1430  2016         /      17         2016/17
1431  2016         /      17         2016/17
1432  2016         /      17         2016/17
1433  2016         /      17         2016/17
1434  2016         /      17         2016/17
1435  2016         /      17         2016/17
1436  2016         /      17         2016/17
1437  2016         /      17         2016/17
1438  2016         /      17         2016/17
1439  2016         /      17         2016/17
1440  2016         /      17         2016/17
1441  2016         /      17         2016/17
1442  2016         /      17         2016/17
1443  2016         /      17         2016/17

[1444 rows x 4 columns]

In [17]:
# Junta la columna Año y Nueva_Temporada con el DataFrame desdinamizado
df_desdinam = df_desdinam.join(df_ntemp[['Año', 'Nueva_Temporada']])

In [18]:
df_desdinam

,Cultivo,Temporada,Superficie (ha),Año,Nueva_Temporada
0,Trigo,1979/80,545740.0,1979,1979/80
1,Trigo harinero,1979/80,NaN,1979,1979/80
2,Trigo candeal,1979/80,NaN,1979,1979/80
3,Avena,1979/80,92380.0,1979,1979/80
4,Maíz,1979/80,116190.0,1979,1979/80
5,Maíz consumo,1979/80,NaN,1979,1979/80
6,Maíz semilla,1979/80,NaN,1979,1979/80
7,Arroz,1979/80,40840.0,1979,1979/80
8,Cebada,1979/80,48620.0,1979,1979/80
9,Cebada cervecera,1979/80,NaN,1979,1979/80
10,Cebada forrajera,1979/80,NaN,1979,1979/80
11,Centeno 3,1979/80,8250.0,1979,1979/80
12,Triticale,1979/80,NaN,1979,1979/80
13,Quinoa,1979/80,NaN,1979,1979/80
14,Poroto,1979/80,110700.0,1979,1979/80
15,Poroto consumo,1979/80,NaN,1979,1979/80
16,Poroto exportación,1979/80,NaN,1979,1979/80
17,Lenteja,1979/80,52950.0,1979,1979/80
18,Garbanzo,1979/80,20570.0,1979,1979/80
19,Arveja,1979/80,18200.0,1979,1979/80
20,Chicharo,1979/80,NaN,1979,1979/80
21,Papa,1979/80,88760.0,1979,1979/80
22,Mandioca,1979/80,NaN,1979,1979/80
23,Maravilla,1979/80,32410.0,1979,1979/80
24,Raps,1979/80,50360.0,1979,1979/80
25,Remolacha,1979/80,11060.0,1979,1979/80
26,Lupino,1979/80,NaN,1979,1979/80
27,Lupino Amargo (grano seco),1979/80,NaN,1979,1979/80
28,Otros Lupinos (Australiano y dulce),1979/80,NaN,1979,1979/80
29,Lupino Dulce,1979/80,NaN,1979,1979/80
...,...,...,...,...,...
1414,Cebada,2016/2017,13574.0,2016,2016/17
1415,Cebada cervecera,2016/2017,9414.0,2016,2016/17
1416,Cebada forrajera,2016/2017,4160.0,2016,2016/17
1417,Centeno 3,2016/2017,NaN,2016,2016/17
1418,Triticale,2016/2017,20122.0,2016,2016/17
1419,Quinoa,2016/2017,NaN,2016,2016/17
1420,Poroto,2016/2017,11545.0,2016,2016/17
1421,Poroto consumo,2016/2017,1540.0,2016,2016/17
1422,Poroto exportación,2016/2017,275.0,2016,2016/17
1423,Lenteja,2016/2017,1540.0,2016,2016/17
1424,Garbanzo,2016/2017,275.0,2016,2016/17
1425,Arveja,2016/2017,NaN,2016,2016/17
1426,Chicharo,2016/2017,NaN,2016,2016/17
1427,Papa,2016/2017,54082.0,2016,2016/17
1428,Mandioca,2016/2017,NaN,2016,2016/17
1429,Maravilla,2016/2017,6817.0,2016,2016/17
1430,Raps,2016/2017,46249.0,2016,2016/17
1431,Remolacha,2016/2017,16383.0,2016,2016/17
1432,Lupino,2016/2017,19740.0,2016,2016/17
1433,Lupino Amargo (grano seco),2016/2017,10261.0,2016,2016/17
1434,Otros Lupinos (Australiano y dulce),2016/2017,9479.0,2016,2016/17
1435,Lupino Dulce,2016/2017,NaN,2016,2016/17
1436,Lupino Australiano,2016/2017,NaN,2016,2016/17
1437,Tabaco,2016/2017,1444.0,2016,2016/17
1438,Tomate industrial,2016/2017,9343.0,2016,2016/17
1439,Achicoria industrial,2016/2017,2507.0,2016,2016/17
1440,Otros industriales,2016/2017,1224.0,2016,2016/17
1441,Otros cereales,2016/2017,1493.0,2016,2016/17
1442,Otras leguminosas,2016/2017,749.0,2016,2016/17
1443,Total,2016/2017,684552.0,2016,2016/17

In [19]:
# Filtrar y remover los valores blancos/nulos (NaN) en Superficie...
df_desdinam = df_desdinam[df_desdinam['Superficie (ha)'].notnull()]

# Resetea el indice a un correlativo (0,1,2...n)
df_desdinam = df_desdinam.reset_index(drop=True)

# Elimina la columna 'Temporada' que contiene las notas al pie
df_desdinam = df_desdinam.drop('Temporada', axis=1)

# Renombrar columna 'Nueva_Temporada'
df_desdinam = df_desdinam.rename(columns = {'Nueva_Temporada': 'Temporada'})

# Convertir 'Temporada' a dato numerico
df_desdinam['Temporada'] = pd.to_numeric(df_desdinam['Temporada'], errors='ignore', downcast='integer')

In [20]:
df_desdinam

                                 Cultivo  Superficie (ha)   Año Temporada
0                                  Trigo         545740.0  1979   1979/80
1                                  Avena          92380.0  1979   1979/80
2                                   Maíz         116190.0  1979   1979/80
3                                  Arroz          40840.0  1979   1979/80
4                                 Cebada          48620.0  1979   1979/80
5                              Centeno 3           8250.0  1979   1979/80
6                                 Poroto         110700.0  1979   1979/80
7                                Lenteja          52950.0  1979   1979/80
8                               Garbanzo          20570.0  1979   1979/80
9                                 Arveja          18200.0  1979   1979/80
10                                  Papa          88760.0  1979   1979/80
11                             Maravilla          32410.0  1979   1979/80
12                                  Raps          50360.0  1979   1979/80
13                             Remolacha          11060.0  1979   1979/80
14                                Tabaco           2168.0  1979   1979/80
15                                 Total        1239198.0  1979   1979/80
16                                 Trigo         432160.0  1980   1980/81
17                                 Avena          80110.0  1980   1980/81
18                                  Maíz         125530.0  1980   1980/81
19                                 Arroz          31400.0  1980   1980/81
20                                Cebada          45960.0  1980   1980/81
21                             Centeno 3           8770.0  1980   1980/81
22                                Poroto         117740.0  1980   1980/81
23                               Lenteja          47660.0  1980   1980/81
24                              Garbanzo          16230.0  1980   1980/81
25                                Arveja          17530.0  1980   1980/81
26                                  Papa          89920.0  1980   1980/81
27                             Maravilla           5120.0  1980   1980/81
28                                  Raps          23880.0  1980   1980/81
29                             Remolacha          36750.0  1980   1980/81
..                                   ...              ...   ...       ...
806                       Trigo harinero         205189.0  2016   2016/17
807                        Trigo candeal          19853.0  2016   2016/17
808                                Avena         136818.0  2016   2016/17
809                                 Maíz          94668.0  2016   2016/17
810                         Maíz consumo          86421.0  2016   2016/17
811                         Maíz semilla           8247.0  2016   2016/17
812                                Arroz          20937.0  2016   2016/17
813                               Cebada          13574.0  2016   2016/17
814                     Cebada cervecera           9414.0  2016   2016/17
815                     Cebada forrajera           4160.0  2016   2016/17
816                            Triticale          20122.0  2016   2016/17
817                               Poroto          11545.0  2016   2016/17
818                       Poroto consumo           1540.0  2016   2016/17
819                   Poroto exportación            275.0  2016   2016/17
820                              Lenteja           1540.0  2016   2016/17
821                             Garbanzo            275.0  2016   2016/17
822                                 Papa          54082.0  2016   2016/17
823                            Maravilla           6817.0  2016   2016/17
824                                 Raps          46249.0  2016   2016/17
825                            Remolacha          16383.0  2016   2016/17
826                               Lupino          19740.0  2016   2016/17
827           Lupino Amargo (grano seco)          10261.0  2016   2016/17
828  Otros Lupinos (Australiano y dulce)           9479.0  2016   2016/17
829                               Tabaco           1444.0  2016   2016/17
830                    Tomate industrial           9343.0  2016   2016/17
831                 Achicoria industrial           2507.0  2016   2016/17
832                  Otros industriales            1224.0  2016   2016/17
833                       Otros cereales           1493.0  2016   2016/17
834                    Otras leguminosas            749.0  2016   2016/17
835                                Total         684552.0  2016   2016/17

[836 rows x 4 columns]

In [21]:
# Guardar a Excel
df_desdinam.to_excel('data/01_data_procesada.xlsx', index_label='Index')